@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br>
    <br>
    <a>Log in to create CV!</a>
    <br>
    <br>
    <img class="img-fluid border" src="cv.png" alt="CV Demo"/>
    <p>Above is an example of the "Share CV" page.</p>
    <br>
    <br>
</div>