@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br>
    <br>
    <a>Log in to create CV!</a>
    <br>
    <br>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://www.w3schools.com">Visit W3Schools.com!</a>
</div>