@page
@model icbincvdt.Pages.CVs.IndexModel

@{
    ViewData["Title"] = "All CVs";
}

<h1>All CVs</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CV[0].Summary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CV) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                <a asp-page="./ShareCV" asp-route-id="@item.CVID">View</a>
            </td>
        </tr>
    }
    </tbody>
</table>
