@page
@model icbincvdt.Pages.CVs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CV</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CV.Summary" class="control-label"></label>
                <input asp-for="CV.Summary" class="form-control" />
                <span asp-validation-for="CV.Summary" class="text-danger"></span>
                
                <label asp-for="CV.Educations" class="control-label"></label>
                <input asp-for="CV.Educations" class="form-control" />
                <span asp-validation-for="CV.Educations" class="text-danger"></span>
                
                <label asp-for="CV.Experiences" class="control-label"></label>
                <input asp-for="CV.Experiences" class="form-control" />
                <span asp-validation-for="CV.Experiences" class="text-danger"></span>
                
                <label asp-for="CV.Skills" class="control-label"></label>
                <input asp-for="CV.Skills" class="form-control" />
                <span asp-validation-for="CV.Skills" class="text-danger"></span>
                
                <label asp-for="CV.References" class="control-label"></label>
                <input asp-for="CV.References" class="form-control" />
                <span asp-validation-for="CV.References" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
